.box1 {
    background-image: none;
}

.box2 {
    background-image: url(/docs/assets/lightenupchicago.png);s
    background-position: center;
}

.box3 {
    background-image: url(/docs/assets/learningbyplaying.png);
}