.box1 {
    background-image: none;
}

.box2 {
    background-image: url(../assets/lightenupchicago.png);
    background-position: center;
}

.box3 {
    background-image: url(../assets/learningbyplaying.png);
}