.container1 {
    top: -2vh;
    margin: 0px auto;
    position: relative;
    width: 80vw;
    height:970vh;
    display: flex;
    flex-direction: column;
    
}

h2:hover {
    color: black;
}

.description {
    line-height: 2vh;
    font-family: 'Hind', sans-serif;
    margin: 0px auto;
    position: relative;
    width: 50vw;
    text-align: center;
    color: rgb(172, 172, 172);
}

h3 {
    font-family: 'Annie Use Your Telescope', cursive;
    letter-spacing: 3px;
    font-size: 26px;
    color: rgb(247, 214, 68);
    margin: 0px auto;
    position: relative;
    width: 70vw;
    text-align: center;
    display: block;
    
}

.box1 {
    left: 0vw;
    margin: 0px auto;
    position: relative;
    width: 74vw;
    height:100vh;
    background-image: url(../assets/contempladocov.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box2 {
    margin: 0px auto;
    position: relative;
    width: 80vw;
    height:100vh;
    background-image: url(../assets/contempladopg1.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box3 {
    margin: 0px auto;
    position: relative;
    width: 80vw;
    height:100vh;
    background-image: url(../assets/contempladopg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box4 {
    margin: 0px auto;
    position: relative;
    width: 80vw;
    height:100vh;
    background-image: url(../assets/contempladopg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box5 {
    margin: 0px auto;
    position: relative;
    width: 80vw;
    height:100vh;
    background-image: url(../assets/contempladopg4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box6 {
    margin: 0px auto;
    position: relative;
    width: 80vw;
    height:100vh;
    background-image: url(../assets/contempladopg5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box7 {
    margin: 0px auto;
    position: relative;
    width: 80vw;
    height:100vh;
    background-image: url(../assets/contempladopg7.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.box8 {
    margin: 0px auto;
    position: relative;
    width: 80vw;
    height:100vh;
    background-image: url(../assets/contempladopg6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}