.container1 {
    top: -2vh;
    margin: 0px auto;
    position: relative;
    width: 80vw;
    height: 1020vh;
    display: flex;
    flex-direction: column;
}

h2:hover {
    color: black;
}

.description {
    line-height: 2vh;
    font-family: 'Hind', sans-serif;
    margin: 0px auto;
    position: relative;
    width: 60vw;
    text-align: center;
    color: rgb(172, 172, 172); 
}

h3 {
    font-family: 'Annie Use Your Telescope', cursive;
    letter-spacing: 3px;
    font-size: 26px;
    color: rgb(247, 214, 68);
    margin: 0px auto;
    position: relative;
    width: 70vw;
    text-align: center;
    display: block;
    
}

.carousel {
    margin: 0px auto;
    position: relative;
    width: 80vw;
    height: 40vh;
    display: flex;
}

.og1 {
    margin: 0px auto;
    position: relative;
    width: 17vw;
    height: 40vh;
    display: flex;
    background-image: url(/docs/assets/pile2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.og2 {
    margin: 0px auto;
    position: relative;
    width: 17vw;
    height: 40vh;
    display: flex;
    background-image: url(/docs/assets/pile6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.og3 {
    margin: 0px auto;
    position: relative;
    width: 17vw;
    height: 40vh;
    display: flex;
    background-position: initial;
    background-image: url(/docs/assets/pile3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.og4 {
    margin: 0px auto;
    position: relative;
    width: 17vw;
    height: 40vh;
    display: flex;
    background-image: url(/docs/assets/pile4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.box1 {
    top: 5vh;
    margin: 0px auto;
    position: relative;
    width: 70vw;
    height: 90vh;
    display: flex;
    background-image: url(/docs/assets/knolling1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.box2 {
    top: 5vh;
    margin: 0px auto;
    position: relative;
    width: 70vw;
    height: 120vh;
    display: flex;
    background-image: url(/docs/assets/knolling2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.box3 {
    top: 5vh;
    margin: 0px auto;
    position: relative;
    width: 70vw;
    height: 120vh;
    display: flex;
    background-image: url(/docs/assets/knolling3.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.box4 {
    left: -5vw;
    top: 10vh;
    margin: 0px auto;
    position: relative;
    width: 90vw;
    height: 120vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boxing1 {
    margin: 0px auto;
    position: relative;
    width: 40vw;
    height: 50vh;
    display: flex;
    background-image: url(/docs/assets/boxing1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.boxing2 {
    margin: 0px auto;
    position: relative;
    width: 40vw;
    height: 50vh;
    display: flex;
    background-image: url(/docs/assets/boxing2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.boxing3 {
    margin: 0px auto;
    position: relative;
    width: 40vw;
    height: 50vh;
    display: flex;
    background-image: url(/docs/assets/boxing3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.boxing4 {
    margin: 0px auto;
    position: relative;
    width: 40vw;
    height: 50vh;
    display: flex;
    background-image: url(/docs/assets/boxing4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.box5 {
    top: -20vh;
    margin: 0px auto;
    position: relative;
    width: 70vw;
    height: 120vh;
    display: flex;
    background-image: url(/docs/assets/boxinggrid1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.box6 {
    left: -5vw;
    top: -30vh;
    margin: 0px auto;
    position: relative;
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boxinggrid2 {
    margin: 0px auto;
    position: relative;
    width: 44vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(/docs/assets/boxinggrid2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

.boxinggrid3 {
    margin: 0px auto;
    position: relative;
    width: 45vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(/docs/assets/boxinggrid3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

.box7 {
    top: 10vh;
    margin: 0px auto;
    position: relative;
    width: 70vw;
    height: 100vh;
    display: flex;
    background-image: url(/docs/assets/organic1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.box8 {
    top: 35vh;
    margin: 0px auto;
    position: relative;
    width: 70vw;
    height: 100vh;
    display: flex;
    background-image: url(/docs/assets/organic2.png);
    background-size: contain;
    background-repeat: no-repeat;
}


