.container1 {
    top: -2vh;
    margin: 0px auto;
    position: relative;
    width: 80vw;
    height: 1690vh;
    display: flex;
    flex-direction: column;
    background-color: yellow;
    
}

h2:hover {
    color: black;
}