.container1 {
    top: -2vh;
    margin: 0px auto;
    position: relative;
    width: 80vw;
    height: 490vh;
    display: flex;
    flex-direction: column;
    
}

h2:hover {
    color: black;
}

.description {
    line-height: 2vh;
    font-family: 'Hind', sans-serif;
    margin: 0px auto;
    position: relative;
    width: 55vw;
    text-align: center;
    color: rgb(172, 172, 172);
}

.descriptionleft {
    line-height: 2vh;
    font-family: 'Hind', sans-serif;
    font-size: 13px;
    margin: 0px auto;
    position: relative;
    width: 38vw;
    color: rgb(172, 172, 172);
    text-align: left;
}

h3 {
    font-family: 'Annie Use Your Telescope', cursive;
    letter-spacing: 3px;
    font-size: 26px;
    color: rgb(247, 214, 68);
    margin: 0px auto;
    position: relative;
    width: 70vw;
    text-align: center;
    display: block;
}

h4 {
    font-family: 'Annie Use Your Telescope', cursive;
    letter-spacing: 3px;
    font-size: 26px;
    color: rgb(247, 214, 68);
    margin: 0px auto;
    position: relative;
    text-align: left;
    display: block; 
}

.box1 {
    top: 0vh;
    left: -23vh;
    margin: 0px auto;
    position: relative;
    width: 40vw;
    height: 67vh;
    display: flex;
    flex-direction: row;
}

.box2 {
    margin: 0px auto;
    position: relative;
    width: 38vw;
    height: 67vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box3 {
    margin: 0px auto;
    position: relative;
    width: 38vw;
    height: 67vh;
    display: flex;
    flex-direction: row;
}

.word1 {
    margin: 0px auto;
    position: relative;
    width: 30vw;
    height: 29vh;
    display: flex;
    flex-direction: column;
    background-image: url(assets/collapseb.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.word2 {
    left: -.5vh;
    margin: 0px auto;
    position: relative;
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    background-image: url(assets/collapsew.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.box4 {
    left: -9vh;
    top: 10vh;
    margin: 0px auto;
    position: relative;
    width: 90vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
}

.carousel {
    margin: 0px auto;
    position: relative;
    width: 90vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
}

.image1 {
    margin: 0px auto;
    position: relative;
    width: 9vw;
    height: 20vh;
    background-color: yellow;
}

.image2 {
    margin: 0px auto;
    position: relative;
    width: 9vw;
    height: 20vh;
    background-color: yellow;
}

.image3 {
    margin: 0px auto;
    position: relative;
    width: 9vw;
    height: 20vh;
    background-color: yellow;
}

.image4 {
    margin: 0px auto;
    position: relative;
    width: 9vw;
    height: 20vh;
    background-color: yellow;
}

.image5 {
    margin: 0px auto;
    position: relative;
    width: 9vw;
    height: 20vh;
    background-color: yellow;
}

.image6 {
    margin: 0px auto;
    position: relative;
    width: 9vw;
    height: 20vh;
    background-color: yellow;
}

.image7 {
    margin: 0px auto;
    position: relative;
    width: 9vw;
    height: 20vh;
    background-color: yellow;
}

.image8 {
    margin: 0px auto;
    position: relative;
    width: 9vw;
    height: 20vh;
    background-color: yellow;
}

.image9 {
    margin: 0px auto;
    position: relative;
    width: 9vw;
    height: 20vh;
    background-color: yellow;
}

.box5 {
    left: -1vh;
    margin: 0px auto;
    position: relative;
    width: 80vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.finalmatrix1 {
    margin: 0px auto;
    position: relative;
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(assets/collapsefin1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.finalmatrix2 {
    top: 5vh;
    margin: 0px auto;
    position: relative;
    width: 80vw;
    height: 100vh;
    display: flex;
    background-image: url(assets/collapsefin2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.indent {
    text-indent: 5vh;
}

